<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="/styles.css">
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
  <a href="/houses">All Houses</a>
  <a href="/characters">All Characters</a>
</body>
</html>