<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <meta charset="UTF-8">
  <title>New Character</title>
</head>
<body>
  <form action="/characters" method="POST">
    <input type="text" name="name" placeholder="Name" />
    <input type="text" name="url" placeholder="Image Url" />
    <select name="house_id">
      <% houses.each do |house| %>
        <option value="<%= house.id %>"><%= house.name %></option>
      <% end %>
    </select>
    <button>Submit</button>
  </form>
</body>
</html>