<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>

    </style>
</head>
<body>

<p id = "band_name">hello</p>
<p id = "location"></p>
<p id = "genre"></p>


    <script>
//this gets info from the server
        var url = "http://localhost:3000";

        var xhr = new XMLHttpRequest();

        xhr.addEventListener('load', function(e) {
      
        // xhr.responseText - this is what get's the shit
        var d = xhr.responseText;
        var parsed = JSON.parse(d);
        console.log(parsed)

        var body = document.getElementsByTagName("body");
        var p = document.createElement("p");

        p.innerText = parsed.band_name;
        document.body.appendChild(p);
        console.log(parsed);
    })
        // this just tells you where to go get the data. 
        xhr.open("GET", url);
        xhr.send();
    
    </script>
</body>
</html>