<!DOCTYPE>
<html>
  <body>

  	<% if (name){ %>
  		<h1>Hello, <%= name %> </h1>
  	<% } %>

    <form action = "/">
      <input type = 'text' name = 'name' ></input>
      <button>Click Me</button>
    </form>

  </body>
</html>