<html>
<body>

<% var counter = 0 %>
<% var width_two = width %>
<% while(counter < 15){ %>
<img src="http://placekitten.com/g/<%= height %>/<%= width_two %>">
<% counter+=1 %>
<% width_two += 5%>
<% } %>

</body>
</html>