
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <meta charset="UTF-8">
  <title>Houses</title>
</head>
<body>
  <p>Houses:</p>
  <ul>
    <% houses.each do |house| %>
      <li>
        <a href="/houses/<%= house.id %>">
          <%= house.name %>
        </a>
      </li>
    <% end %>
  </ul>
</body>
</html>